/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/* General Styles */
html {
	box-sizing: border-box;
  }
  *, *:before, *:after {
	box-sizing: inherit;
  }

  .container {
	width: 1000px;
	margin: 0 auto;

  }

  section.heading {
	  margin-bottom: 30px;
	  margin-top: 20px;
	  display: inline-block;
	  
  }

  section.heading img {
	display: inline-block; 
	margin-left: 100px;
	vertical-align: middle;
	/* width: 140px;
	height: auto; */
  }
  
  section.heading nav {
	margin: 20px 0;
	display: inline-block; 
	/* border: 1px solid red; */
	font-size: 90%; 
	vertical-align: middle;
  }
  
  section.heading nav a {
	margin-left: 80px;
	text-decoration: none;
	color: #B1B1B1;

  }

  section.heading nav a.first-anchor {
	margin-left: 0;
  }

  div.intro-content section {
	margin: 10px 2%;
	  display: inline-block;
	  width: 45%;
  }

  div.intro-content section.intro-col1 {
	vertical-align: middle;
	text-align: center;
}

div.intro-content section.intro-col1 h1 {
	font-size: 65px;
}

 div.intro-content section img.intro-col2 {
	vertical-align: middle;
 }

 div.intro-content section.intro-col1 .button {
	width: 150px;
	height: 30px;
	background-color: white;
	display: inline-block;
	border: 1px solid black;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	
 }

 div.intro-content section.intro-col1 .button a {
	text-decoration: none;
	color: black;
 }

 .section-border {
	 border-bottom: 1px solid black;
	 margin-top: 50px;
	 margin-bottom: 20px;
 }

 div.top-content section {
	margin: 10px 0;
	  display: inline-block;
	  width: 49%;
	  line-height: 18px;
  }

  main img.middle-img {
	margin: 20px 0;
	width: 100%
  }

  div.bottom-content section {
	margin: 10px 0;
	  display: inline-block;
	  width: 30%;
	  line-height: 18px;
	  margin-right: 20px;
  }

  footer section h2 {
	  margin-top: 30px;
  }

  footer section address {
	 line-height: 18px;
	margin-bottom: 20px;
	width: 200px;
	display: block;
  }

  footer section section.phone-number {
	  margin-bottom: 20px;
  }

  footer p.copyright {
	padding: 20px 0;
  text-align:center;
  }